
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background: #fff;
	width:100%; 
	height: 80px;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
	-webkit-order: 1;
	position: relative;
	&:after{
		content: '';
		width: 100%;
		height: 241px;
		display: block;
		background-image: url(../img/main-bg.png);
		background-position: center bottom;
		background-size:  100% auto;
		background-repeat: no-repeat;
		position: absolute;
		z-index: -1;
	}
}
.header{
	&__container{
		max-width: 1200px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}
}
nav{
	height: 100%;
}
.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	width: 100%;
	height: 100%;
	li{
		margin-left: 75px;
		margin-top: 2px;
		&:first-child{
			margin-left: 0;
		}
	}
	&__link{
		font-size: 14px;
		color: #435993;
		font-weight: 300;
		transition: all 0.5s linear;
		&:hover{
			color: darken(#435993,20%);
		}
	}
}
.divide{
	display: none;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;
}
.mobile{
	width: 100%;
	height: 100%;
	display: none;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	&__container{
		position: relative;
	}
}
.close{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	span{
		font-size: 20px;
		
	}
}
.navigation{
	padding-top: 100px;
	li{
		text-align: center;
		margin-bottom: 16px;
	}
	&__link{
		font-size: 20px;
		color: #1c1c1c;
	}
}

@media screen and (max-width: 1700px){
	header:after{
		background-position: center top;
	}
}
@media screen and (max-width: 768px){
	header{
		height: 55px;
	}
	nav{
		display: none;
	}
	.divide{
		display: block;
	}
}